h1{
 text-align: center;
 font-style:inherit;
}
#sign-up{
 background-color: rgb(227, 220, 217);
 width: 200px; 
 margin-left: 650px; 
 border-radius: 20px; 
}
body{
    background-image: linear-gradient(90deg, #020024 5%, #090979 35%, #00d4ff 100%);    
}
.inpu{
 border-radius: 40px;
 font-size: x-large;   
}
.para{
    color: white;
  font-size: large; 
   
} 

#block{
    margin-left: 610px;
    margin-top: 50px;   
}
.inpu::placeholder{
  font-weight:100;
  opacity: 0.5; 
  font-size: smaller; 
}
#button1{
    margin-left: 90px;
font-size: xx-large;
border-radius: 20px;
background-color: rgb(227, 220, 217);
}
#button1:hover{
cursor: pointer;
}