h1{
 text-align: center;
 font-style:inherit;
 color: blanchedalmond;
}
#sign-up{
 width: 200px; 
 margin-left: 650px; 
 border-radius: 20px; 
}
body{
    background-image: linear-gradient(90deg, #88888e 15%, rgb(211, 73, 103) 35%, #ff004c 80%);    
}
#first {
 border-radius: 40px;
 font-size: x-large;   
}
#last {
  border-radius: 40px;
  font-size: x-large;   
 }
 #email {
  border-radius: 40px;
  font-size: x-large;   
 }
 #pass {
  border-radius: 40px;
  font-size: x-large;   
 }
 #confirmpass {
  border-radius: 40px;
  font-size: x-large;   
 }
.para{
    color: white;
  font-size: large; 
   
} 

#block{
    margin-left: 610px;
    margin-top: 50px; 
      
}
#button1{
    margin-left: 90px;
font-size: xx-large;
border-radius: 50px;
background-color: rgb(227, 220, 217);
border:0px;
}
#button1:hover{
cursor: pointer;
background-color: #ff004c;

}
